doctype html
html(lang="ko")
    head
        title  moovies | WETUBE
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body
        header
        main
            block content